@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #280352;
}

.home-page {
  padding: 2%;
  padding-bottom: 10%
}

.header-section {
  text-align: center;
  margin-bottom: 40px;
}

.search-bar {
  width: 60%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.category-section {
  margin: 40px 0;
}

.category-item:hover {
  cursor: pointer;

}

.categories-grid {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
  gap: 1px;
  background-color: white;
  padding: 2% 2%;
  border-radius: 10px;
}

.category-item {

  margin-right: 4%;
}

.category-item img {
  width: 30%;
  height: auto;
  border-radius: 10px;
  background-color: white;
  margin-left: 35%;
}

.category-item p {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  padding-right: 0%;
}

.business-section {
  margin: 40px 0;
}

.business-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.business-item {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.business-item h3 {
  margin: 0 0 10px 0;
}

.business-item p {
  margin: 0;
  color: #666;
}