.forgot-password-container {
    width: 390px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.forgot-password-container h2 {
    color: #304D30;
    margin-bottom: 45px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.forgot-pw-label {
    text-align: start;
    display: block;
    margin-bottom: 3%;
    margin-left: 6%;
}

.forgot-pw-input {
    width: 320px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.reset-btn {
    width: 350px;
    padding: 13px;
    font-size: medium;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #84A98C;
    color: white;
    margin: 20px 0 20px 21px;
}

.reset-btn:hover { 
    cursor: pointer;
    background-color: #618f6a;
}

.success-message {
    color: green;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}