.SignUp {
  height: 100vh; 
  display: contents; 
  justify-content: center; 
  align-items: center; 
}

.imgSU {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.signUp-container {
  background-color: white;
  padding: 20px 35px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  display: block;
  margin: 0 auto 30px auto;
}

.SU-pw {
  width: 320px;
  padding: 15px;
}

.SU-header {
  margin-top: 5%;
  margin-bottom: 8%;
  color: #304D30;
}

.SU-label {
  text-align: start;
  display: block;
  margin-bottom: 3%;
  margin-left: 6%;
}

.SU-sub {
  width:87%;
  padding: 3%;
  font-size: medium;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #84A98C;
  color: white;
  margin-top: 5%;
}

.SU-sub:hover {
  cursor: pointer;
  background-color: #618f6a;
}

.pw-text {
  margin: 10px 0 30px 30px;
}

.password-requirements {
  text-align: left;
  margin-left: 40px;
  margin-bottom: 30px;
}

.SU-success {
  color: #618f6a;
  font-size: 0.9em;
  -webkit-text-stroke: 0.6px;
}