.App {
  height: 100vh;
  display:block;
  justify-content: center; 
  align-items: center; 
  background: linear-gradient(to bottom, #8489FF, #E1DCFE); 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}