.imgSI {
    width: 100px;
    height: 100px;
    margin: 2% 7%;
    padding: 1% 43%;
}

/* Form Styling */
.signIn-container {
    justify-content: center; 
    background-color: white;
    padding: 1% 1%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    margin-left: 40%;
    margin-bottom: 20%;
}

h2 {
    color: #410e58;
    margin-bottom: 2%;
    font-size: 1.5rem;
}

.SIform-group {
    margin-bottom: 4%;
}

label {
    text-align: start;
    margin-left: 8%;
    display: block;
    margin-bottom: 3%;
}

input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 4%;
    width: 100%;
    font-size: medium;
    margin-bottom: 2%;
}

input::placeholder {
    color: #ccc;
    font-size: medium;
}

select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.submit-btn {
    width:87%;
    padding: 3%;
    font-size: medium;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-pw {
    display: block;
    margin-bottom: 1%;
    color: #3498db;
    text-decoration: none;
}

.forgot-pw:hover {
    text-decoration: underline;
    color:#22538b;
}

.reg-btn {
    margin-top: 2%;
    margin-bottom: 4%;
    background-color: #5B4778;
    color: white;
    width: 87%;
    font-size: medium;
    padding: 3%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.reg-btn:hover {
    background-color: #410e58; 
}

p {
    margin-top: 6%;
    font-size: 0.9rem;
}

.error-message {
    color: red;
    font-weight: 400;
}